-f /usr/share/pip-wheels
asgiref==3.3.4
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
Django==3.2.3
folium==0.12.1
idna==2.10
Jinja2==3.0.0
MarkupSafe==2.0.0
numpy==1.20.3
PyMySQL==1.0.2
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.4
