{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <!--Información de contacto-->
    <div id="container"> 
        <div id="post">
            <center><h2><strong>¡Hola! Bienvenido a la sección de ayuda</strong></h2></center>
            <p style=”text-align: justify;”>Antes de enviarnos tu pregunta, por favor
                revisa las que ya están en la paǵina.<br>


            <p><strong>¿Cómo puedo subir los datos?</strong>
            </p>
            <p><center><h1>¡Hagamos que este proyecto crezca! &hearts;</h1></center></p>
        </div>

        <div id="footer">&copy Todos los derechos reservados</div>
    </div>
    <!-- TERMINA Información de contacto-->
{% endblock %}