{% extends "base_generic.html" %}

{% block head_content %}
    <title>Registro</title>    
{% endblock %}  
{% block content %}
        {% if error %}
            <center><p style="color: red;">{{error}}</p></center>
        {% endif %}
        <div id="container">
            <center><h1>Por favor introduce la información necesaria sobre el problema</h1></center>
            <form method="POST" action = "{% url 'registrar_problema' %}" class="row g-3">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputLatitud" class="form-label">Latitud</label>
                    <input type="number" step="0.01" class="form-control" id="myLatitud"
                    placeholder="Latitud" name="latitud" required>
                </div>
                <div class="col-md-6">
                    <label for="inputLongitud" class="form-label">Longitud</label>
                    <input type="number" step="0.01" class="form-control" id="myLongitud"
                    placeholder="Longitud" name="longitud" required>
                </div>
                <div class="col-12">
                    <label for="inputProblema" class="form-label">Tipo de problema</label>
                    <select id="myProblema" class="form-select" name="problema" required>
                        <!-- En la base de datos esto será almacenado como varchar -->
                        <option disabled="" selected="">Seleccionar problema</option>
                        <option value="Incendio">Incendio</option>
                        <option value="Sequia">Sequia</option>
                        <option value="Deforestación">Deforestación</option>
                        <!-- <option value="Deslaves">Deslaves</option> -->
                        <option value="Pesca_ilegal">Pesca ilegal</option>
                        <option value="Estancamiento_de_agua">Estancamiento de agua</option>
                        <option value="Cambio_de_suelo">Cambio de uso de suelo</option>
                        <option value="Vertederos_clandestinos">Vertederos realizados clandestinamente</option>
                        <option value="Desechos_toxicos">Desechos tóxicos tirados clandestinamente</option>
                        <option value="Desechos_biologicos">Desechos biológicos tirados clandestinamente</option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="inputImportancia" class="form-label">Nivel de prioridad</label>
                    <select id="myImportancia" class="form-select" name="prioridad" required>
                        <option disabled="" selected="">Seleccionar nivel de prioridad</option>
                        <option value="Extremadamente_alta">Extremadamente Alta</option>
                        <option value="Alta">Alta</option>
                        <option value="Media">Media</option>
                        <option value="Baja">Baja</option>
                        <option value="Muy_baja">Muy baja</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputCiudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="myCiudad"
                    placeholder="Ciudad donde se encuentra el problema" name="ciudad"
                    title="Si el nombre excede los 50 carácteres, introduce el nombre por el que se conoce localmente la ciudad">
                    </div>
                <div class="col-md-4">
                    <label for="inputEstado" class="form-label">Estado</label>
                    <select id="myEstado" class="form-select" name="estado" required>
                        <option disabled="" selected="">Seleccionar estado</option>
                        <option value="MEX">Mexico</option>
                        <option value="AGS">Aguascalientes</option>
                        <option value="BCN">Baja California</option>
                        <option value="BCS">Baja California Sur</option>
                        <option value="CAM">Campeche</option>
                        <option value="CHP">Chiapas</option>
                        <option value="CHI">Chihuahua</option>
                        <option value="DIF">Ciudad de México</option>
                        <option value="COA">Coahuila</option>
                        <option value="COL">Colima</option>
                        <option value="DUR">Durango</option>
                        <option value="GTO">Guanajuato</option>
                        <option value="GRO">Guerrero</option>
                        <option value="HGO">Hidalgo</option>
                        <option value="JAL">Jalisco</option>
                        <option value="MIC">Michoacan</option>
                        <option value="NAY">Nayarit</option>
                        <option value="NLE">Nuevo Leon</option>
                        <option value="OAX">Oaxaca</option>
                        <option value="PUE">Puebla</option>
                        <option value="QRO">Queretaro</option>
                        <option value="ROO">Quintana Roo</option>
                        <option value="SLP">San Luis Potosi</option>
                        <option value="SIN">Sinaloa</option>
                        <option value="SON">Sonora</option>
                        <option value="TAB">Tabasco</option>
                        <option value="TAM">Tamaulipas</option>
                        <option value="TLX">Tlaxcala</option>
                        <option value="VER">Veracruz</option>
                        <option value="YUC">Yucatan</option>
                        <option value="ZAC">Zacatecas</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputCP" class="form-label">Código Postal</label>
                    <input type="text" class="form-control" id="myCP" placeholder="Código Postal" name="CP">
                </div>
                <div class="col-12">
                    <label for="inputInformation" class="form-label">Información adicional</label>
                    <input type="text" class="form-control" id="myInformation"
                    placeholder="¿Información adicional? Introducela aquí" name="about">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrar problema</button>
                </div>
            </form>
        </div>
{% endblock %}
